{# templates/forecast/inshore.html.twig #}
{{ include('system/head.html.twig') }}

<div class="uk-width-1-1">
    <div class="uk-margin-left font-forecast uk-panel uk-panel-box">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="uk-text-bold">
                    {{ forecast.area }}
                </div>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-alert-danger uk-text-bold">
                    {{ forecast.warnings }}
                </div>
            </div>
            <div class="uk-width-1-6 uk-text-bold">
                WIND
            </div>
            <div class="uk-width-5-6">
                {{ forecast.forecast.wind }}
            </div>
            <div class="uk-width-1-6 uk-text-bold">
                SEA
            </div>
            <div class="uk-width-5-6">
                {{ forecast.forecast.sea }}
            </div>
            <div class="uk-width-1-6 uk-text-bold">
                WEATHER
            </div>
            <div class="uk-width-5-6">
                {{ forecast.forecast.weather }}
            </div>
            <div class="uk-width-1-6 uk-text-bold">
                VISIBILITY
            </div>
            <div class="uk-width-5-6">
                {{ forecast.forecast.visibility }}
            </div>
        </div>
    </div>
</div>
