{# templates/forecast/tidal.html.twig #}
{{ include('system/head.html.twig') }}

<div class="uk-container" >
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/tide-table">Tides</a></li>
                <li><a href="/forecast">Forecast</a></li>
                <li><a href="/boat-log">Boat log</a></li>
                <li><a href="/navtext">Navtex</a></li>
            </ul>
        </div>
    </nav>
</div>

<h2 class="uk-panel-title">Tide table at <a href="/change-location">{{ location|title }}</a>, {{ month|title }} {{ year }}</h2>
<table class="uk-table uk-table-striped">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>High Water</th>
        <th>Range</th>
    </tr>

    {% for day in tides %}
        {% for key, data in day %}
            {% if key != "date"%}
                <tr>
                    <td>{{ day.date.dayOfWeek }} {{ day.date.dayOfMonth }}</td>
                    <td>{{ data.time }}</td>
                    <td>{{ data.depth }}m</td>
                    <td>{{ data.range }}m</td>
                    <td><a href="/tide-table/{{ location }}/{{ day.date.date }}">View</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>
