{# templates/forecast/tidal.html.twig #}
{{ include('system/head.html.twig') }}

<div class="uk-container" >
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/tide-table">Tides</a></li>
                <li><a href="/forecast">Forecast</a></li>
                <li><a href="/boat-log">Boat log</a></li>
                <li><a href="/navtext">Navtex</a></li>
            </ul>
        </div>
    </nav>
</div>

<h2>Tide table at <a href="/change-location">{{ location|title }}</a>, {{ month|title }} {{ year }}</h2>
<table class="uk-table uk-table-condensed">
    <tr style="background-color:navy;color:white">
        <th class="uk-width-1-5">DATE</th>
        <th class="uk-width-1-5">TIME</th>
        <th class="uk-width-1-5">HIGH WATER</th>
        <th class="uk-width-1-5">RANGE</th>
        <th class="uk-width-1-5"></th>
    </tr>

    {% for day in tides %}
            <tr>
                <td class="uk-text-large"><strong>{{ day.date.day }}</strong><br/>{{ day.date.dayOfWeek }} </td>
                <td colspan="4">
                    <table class="uk-table uk-table-condensed">
                        {% for key, data in day %}
                            {% if key != "date"%}
                                <tr>
                                    <td class="uk-width-1-4">{{ data.time }}</td>
                                    <td class="uk-width-1-4">{{ data.depth }}</td>
                                    <td class="uk-width-1-4">{{ data.range }}m</td>
                                    <td class="uk-width-1-4"><a class="uk-button uk-button-small" href="/tide-table/{{ location }}/{{ day.date.date }}">View</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </td>
            </tr>
    {% endfor %}
</table>
