{# templates/forecast/tidal.html.twig #}
{{ include('system/head.html.twig') }}

<div class="uk-container" >
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/tide-table">Tides</a></li>
                <li><a href="/forecast">Forecast</a></li>
                <li><a href="/boat-log">Boat log</a></li>
                <li><a href="/navtext">Navtex</a></li>
            </ul>
        </div>
    </nav>
</div>

    <h1 style="color:navy">{{ location|title }}</h1>
    <h2>{{ month|title }} {{ year }}</h2>
    <p><a href="/change-location">Change location</a></p>


<table class="uk-table">
    <tr style="background-color:navy;color:white">
        <th class="uk-width-1-4">Date</th>
        <th class="uk-width-1-4">HW</th>
        <th class="uk-width-1-4">m</th>
        <th class="uk-width-1-4">Range</th>
    </tr>

    {% for day in tides %}
            <tr>
                <td class="uk-text-large"><strong>{{ day.date.day }}</strong><br/>{{ day.date.dayOfWeek }} </td>
                <td colspan="4">
                    <table class="uk-table uk-table-condensed">
                        {% for key, data in day %}
                            {% if key != "date"%}
                                <tr>
                                    <td class="uk-width-1-3 uk-no-border"><a href="/tide-table/{{ location }}/{{ day.date.date }}">{{ data.time }}</a></td>
                                    <td class="uk-width-1-3 uk-no-border">{{ data.depth }}</td>
                                    <td class="uk-width-1-3 uk-no-border">{{ data.range }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </td>
            </tr>
    {% endfor %}
</table>
