{# templates/forecast/tidal.html.twig #}
{{ include('system/head.html.twig') }}

<div class="uk-container" >
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/tide-table">Tides</a></li>
                <li><a href="/forecast">Forecast</a></li>
                <li><a href="/boat-log">Boat log</a></li>
                <li><a href="/navtext">Navtex</a></li>
            </ul>
        </div>
    </nav>
</div>

<h1>{{ date.dayOfWeek }}, {{ date.day }} {{ date.monthOfYear }}</h1>
<h2 style="color:navy">{{ location|title }}</h2>
<p><a href="/change-location">Change location</a></p>


<table class="uk-table">
    <tr style="background-color:navy;color:white">
        <th>Time</th>
        <th></th>
    </tr>

    {% for time in times %}
        <tr>
            {% if time.type == 'HighWater' %}
                <td class="uk-text-large uk-text-bold">{{ time.time }}</td>
            {% else %}
                <td>{{ time.time }}</td>
            {% endif %}
            {% if time.type == 'LowWater' %}
                <td class="uk-text-large">Low water {{ time.depth }}m</td>
            {% elseif time.type == 'HighWater' %}
                <td class="uk-text-large uk-text-bold">HIGH WATER {{ time.depth }}m</td>
            {% elseif time.type == 'gateclose' %}
                <td>GATE closing</td>
            {% elseif time.type == 'gateopen' %}
                <td>GATE opening</td>
            {% elseif time.type == 'moonrise' %}
                <td>{{ time.type }} {{ time.phase }}</td>
            {% else %}
                <td>{{ time.type }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
