{# templates/forecast/tidal.html.twig #}
{{ include('system/head.html.twig') }}

<div class="uk-width-1-1">
    <div class="uk-panel uk-panel-box uk-margin-top">
        <h2 class="uk-panel-title">{{ year }} / {{ month }}</h2>
        <ul>
            {% for day in days %}
                <a href="/locations/{{ day.date }}">{{ day.day }}</a>
            {% endfor %}
        </ul>
    </div>
</div>